@media screen{
    body{
        background-image: url("MainBackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        background-attachment: fixed;
        overflow: hidden;
    }
    .menu{
        height: 900px;
        width: 300px;
        float: left;
    }
    .menu .GroupSelect{
        height: 920px;
        width: 90px;
        position: absolute;
        left: 6px;
    }
    .menu .GroupSelect .MainIcon{
        height: 50px;
        width: 50px;
        background-image: url("MainIcon.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        position: absolute;
        left: 20px;
        top: 10px;
    }
    .MainIconBackGround{
        height: 60px;
        width: 60px;
        background-color: white;
        border-radius: 30px;
        position: absolute;
        left: 15px;
        top: 4px;
    }
    .menu .GroupSelect .CreateGroupIcon{
        height: 50px;
        width: 50px;
        background-image: url("CreateGroupIcon.png");
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
        position: relative;
        top: 545px;
        left: 20px;
    }
    .CreateGroupIconBackGround{
        height: 60px;
        width: 60px;
        background-color: white;
        border-radius: 30px;
        position: relative;
        top: 600px;
        left: 15px;
    }
    .GroupIconBackGround{
        height: 60px;
        width: 60px;
        background-color: transparent;
        border-radius: 30px;
        margin-top: 10px;
        position: relative;
        left: 15px;
        top: 80px;
    }
    .GroupIconBackGroundOnMouseover{
        height: 60px;
        width: 60px;
        background-color: transparent;
        border-radius: 20px;
        margin-top: 10px;
        position: relative;
        left: 15px;
        top: 80px;
    }
    .MainIconForGroup{
        height: 50px;
        width: 50px;
        background-image: url("MainIcon.png");
        background-size: cover;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        background-color: transparent;
        cursor: pointer;
        position: relative;
        left: 20px;
        top: 25px;
    }
    .StraightLine{
        display: none;
        height: 20px;
        width: 3px;
        border-left: solid #fff 3px;
        position: absolute;
        top: 25px;
    }
    .StraightLineForGroup{
        display: none;
        height: 20px;
        width: 3px;
        border-left: solid #fff 3px;
        position: relative;
        bottom: 5px;
    }
    .StraightLineForCreateGroup{
        display: none;
        height: 20px;
        width: 3px;
        border-left: solid #fff 3px;
        position: absolute;
        bottom: 35px;
    }
    .menu .DialogBoxContent{
        display: none;
        width:40px;
        height:15px;
        line-height: 15px;
        text-align:center;
        font-family: fantasy;
        color:white;
        background:rgb(107, 107, 107);
        border-radius: 5px;
        position:absolute;
        border: solid 1px #333;
        margin:1px;
        padding:5px;
        left: 60px;
        top: 30px;
    }
    .menu .DialogBoxContent::before{
        content: "";
        width: 0px;
        height: 0px;
        font-size: 0px;
        overflow: hidden;
        display: block;
        border-width: 5px;
        border-color: transparent rgb(107, 107, 107) transparent transparent;
        border-style: dashed solid dashed dashed;
        position: absolute;
        left: -10px;
        bottom: 7px;
    }
    .menu .DialogBoxContentForGroup{
        display: none;
        width:80px;
        height:30px;
        text-align:center;
        line-height: 30px;
        color:white;
        background:rgb(107, 107, 107);
        border-radius: 5px;
        position:absolute;
        border: solid 1px #333;
        margin:1px;
        padding:5px;
        left: 60px;
        top: 10px;
    }
    .menu .DialogBoxContentForGroup::before{
        content: "";
        width: 0px;
        height: 0px;
        font-size: 0px;
        overflow: hidden;
        display: block;
        border-width: 5px;
        border-color: transparent rgb(107, 107, 107) transparent transparent;
        border-style: dashed solid dashed dashed;
        position: absolute;
        left: -10px;
        bottom: 15px;
    }
    .menu .DialogBoxContentForCreateGroup{
        display: none;
        width:100px;
        height:30px;
        text-align:center;
        line-height: 30px;
        color:white;
        background:rgb(107, 107, 107);
        border-radius: 5px;
        position:absolute;
        border: solid 1px #333;
        margin:1px;
        padding:5px;
        left: 60px;
    }
    .menu .DialogBoxContentForCreateGroup::before{
        content: "";
        width: 0px;
        height: 0px;
        font-size: 0px;
        overflow: hidden;
        display: block;
        border-width: 5px;
        border-color: transparent rgb(107, 107, 107) transparent transparent;
        border-style: dashed solid dashed dashed;
        position: absolute;
        left: -10px;
        bottom: 15px;
    }
    .menu .GroupName{
        display: none;
        height: 65px;
        width: 200px;
        color: white;
        font-size: 20px;
        line-height: 65px;
        position: relative;
        left: 110px;
    }
    .menu .MessageChannel{
        height: 830px;
        width: 200px;
        /* background-color: yellow; */
        position: absolute;
        left: 110px;
        top: 95px;
    }
    .content{
        height: 900px;
        width: 100vw;
    }
    .content .Banner{
        height: 70px;
        width: 1590px;
        line-height: 70px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        color: white;
        position: absolute;
        left: 325px;
    }
    .content .Banner .Friend{
        width: 60px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        border: none;
        color: rgb(211, 211, 211);
        background-color: transparent;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        left: 60px;
        top: 15px;
    }
    .content .Banner .CreateFriend{
        width: 100px;
        height: 40px;
        border-radius: 10px;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        color: white;
        border: none;
        background-color: #00ffff;
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        position: absolute;
        left: 150px;
        top: 15px;
    }
    .content .Banner .FriendIcon{
        height: 50px;
        width: 50px;
        background-image: url("friend.png");
        background-repeat: no-repeat;
        position: absolute;
        bottom: 7px;
    }
    .content .ChatScreen{
        /* display: none; */
        height: 830px;
        width: 1310px;
        position: absolute;
        left: 335px;
        top: 95px;
    }
    .content .ChatScreen .Talk{
        display: none;
        height: 770px;
        width: 1310px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        color: white;
        position: absolute;
        left: 10px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .content .ChatScreen .FriendPage{
        display: none;
        height: 830px;
        width: 1310px;
        position: absolute;
        background-color: transparent;
    }
    .FriendPage .FriendMember{
        height: 50px;
        width: 1300px;
        line-height: 50px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        color: white;
        background-color: transparent;
        border-radius: 10px;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        z-index: 1;
    }
    .FriendPage .FriendRightClick{
        display: none;
        height: 120px;
        width: 120px;
        background-color: rgba(121, 121, 121, 0.877);
        border-radius: 10px;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;

    }
    .FriendRightClick .FriendRightClickItem{
        height: 40px;
        width: 120px;
        line-height: 40px;
        background-color: transparent;
        color: white;
        font-size: 15px;
        position: relative;
    }
    .content .ChatScreen .CreateFriendPage{
        display: none;
        height: 770px;
        width: 1310px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 25px;
        color: white;
        position: absolute;
        left: 10px;
    }
    .content .ChatScreen .CreateFriendPage .InputTextCreateFriend{
        height: 40px;
        width: 1250px;
        background-color: rgb(63, 30, 230);
        outline: none;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 10px;
        position: absolute;
        left: 20px;
        font-size: 16px;
        color: white;
    }
    .content .ChatScreen .CreateFriendPage .HorizontalLine{
        width: 1290px;
        height: 10px;
        position: absolute;
        border-top: solid rgb(63, 30, 230) 1px;
        top: 230px;
    }
    .CreateFriendPage .SubInviteFriend{
        width: 120px;
        height: 30px;
        font-size: 15px;
        color:white;
        text-align: center;
        background-color: rgb(92, 64, 233);
        border-radius: 10px;
        cursor: pointer;
        border: none;
        outline: none;
        position: absolute; 
        left: 1150px;
        top: 173px;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar{
        width: 7px;
        height: 7px;
        border-radius: 4px;
        background-color: #f0f0f0;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar-button{
        display: none;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar-track{
        display: none;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar-track-piece{
        display: none;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar-thumb{
        background-color: rgb(63, 30, 230);
        border-radius: 4px;
    }
    .content .ChatScreen .Talk::-webkit-scrollbar-corner{
        display: none;
    }
    .content .ChatScreen .Talk::-webkit-resizer{
        display: none;
    }
    .content .ChatScreen .InputText{
        display: none;
        height: 40px;
        width: 1310px;
        background-color: rgb(63, 30, 230);
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 10px;
        position: absolute;
        top: 780px;
        font-size: 16px;
        outline: none;
        color: white;
    }
    .TalkSub{
        color:white;
        background-color: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 790px;
        left: 1220px;
    }
    .content .InviteMessagePage{
        height: 830px;
        width: 245px;
        position: absolute;
        top: 95px;
        right: 5px;
    }
    .content .InviteMessagePage .InviteMessage{
        width: 235px;
        height: 150px;
        position: relative;
        background-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(63, 30, 230);
        margin-top: 10px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .InviteMessage .Confirm{
        width: 117.5px;
        height: 30px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: absolute;
        bottom: 0px;
    }
    .InviteMessage .Refuse{
        width: 117.5px;
        height: 30px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .content .InviteMessagePage .GroupInviteMessage{
        width: 235px;
        height: 150px;
        position: relative;
        background-color: transparent;
        border-style: solid;
        border-width: 5px;
        border-color: rgb(63, 30, 230);
        margin-top: 10px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    .GroupInviteMessage .GroupConfirm{
        width: 117.5px;
        height: 30px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: absolute;
        bottom: 0px;
    }
    .GroupInviteMessage .GroupRefuse{
        width: 117.5px;
        height: 30px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border: none;
        background-color: transparent;
        cursor: pointer;
        outline: none;
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
}